.row
  .col-4
    .card
      .card-body
        %h5 นัดสอบ
      .bg-info-subtle.pt-2
        %ul
          %li
            %a{href: '#'} เริ่มนัดสอบ
          %li
            %a{href: '#'} ตรวจสอบผลการนัด
  .col-4
    .card
      .card-body
        %h5 รายงานผลสอบ
      .bg-success-subtle.pt-2
        %ul
          %li
            %a{href: '#'} รายงานผลสอบ
          %li
            %a{href: '#'} รายการการสอบ
  .col-4
    .card
      .card-body
        %h5 คู่มือใช้งาน
      .bg-warning-subtle.pt-2
        %ul
          %li
            %a{href: '#'} สำหรับนิสิต
          %li
            %a{href: '#'} สำหรับเจ้าหน้าที่
          %li
            %a{href: '#'} สำหรับอาจารย์และกรรมการ

