.card
  .card-header.bg-body-tertiary
    %h5 ส่วนงานหลักเจ้าหน้าที่
  .card-body
    .row.gx-3
      .col-xxl-4.col-md-6
        .hover-bg-200.py-x1.text-center.rounded-3.position-relative
          .mb-2.mt-3
            %a.stretched-link{href: exams_path} การนัดสอบ
          .w-75.mx-auto.text-600.mb-x1
            รายการสอบทั้งหมดที่อนุมัติแล้ว 

      .col-xxl-4.col-md-6
        .hover-bg-200.py-x1.text-center.rounded-3.position-relative
          .mb-2.mt-3
            %a.stretched-link{href: '#'} ผลการสอบ
          .w-75.mx-auto.text-600.mb-x1
            ผลการสอบของนิสิตที่นิสิตส่งมาแล้ว
