.card.mb-2
  .card-header.bg-body-tertiary
    %h5 อนุมัติการสอบวิทยานิพนธ์
  .card-footer
    .row
      .col-auto
        = button_to 'อนุมัติให้สอบได้', approve_exam_path(@exam.proposal), class: 'btn btn-falcon-success', params: {approve: true}
      .col-auto
        = button_to 'ไม่อนุมัติให้สอบ', approve_exam_path(@exam.proposal), class: 'btn btn-falcon-danger', params: {approve: false}

= render partial: 'proposals/proposal_card', locals: {proposal: @exam.proposal}


