.d-flex.align-items-center
  .toggle-icon-wrapper
    %button.btn.navbar-toggler-humburger-icon.navbar-vertical-toggle{ "data-bs": {toggle: "tooltip",placement:"left", 'original-title': "Toggle Navigation"} }
      %span.navbar-toggle-icon
        %span.toggle-line
  %a.navbar-brand{ href: root_path}
    .d-flex.align-items-center.py-3
      %img.me-2{src: image_path('cp-logo.png'), width: 40}
      %span.font-sans-serif.text-primary
        -# CP Thesis
