.navbar-collapse.collapse
  .navbar-vertical-content.scrollbar
    %ul.navbar-nav.flex-column.mb-3
      -# category
      %li.nav-item
        -# label
        .row.navbar-vertical-label-wrapper.mt-3.mb-2
          .col-auto.navbar-vertical-label Main
          .col.ps-0
            %hr.navbar-vertical-divider.mb-0
        -# nav-link for student
        - if @current_user.role_student?
          %a.nav-link{href: act_proposal_student_path(@current_user.student)}
            .d-flex.align-items-center
              %span.nav-link-icon.mso
                book_2
              %span.nav-link-text.ps-1 วิทยานิพนธ์
          %a.nav-link{href: act_exam_student_path(@current_user.student)}
            .d-flex.align-items-center
              %span.nav-link-icon.mso
                calendar_month
              %span.nav-link-text.ps-1 นัดสอบ
          %a.nav-link{href: exams_path}
            .d-flex.align-items-center
              %span.nav-link-icon.mso
                event_available
              %span.nav-link-text.ps-1 ดูผลนัดสอบ
          %a.nav-link{href: '#'}
            .d-flex.align-items-center
              %span.nav-link-icon.mso
                sports_score
              %span.nav-link-text.ps-1 รายงานผลสอบ
        - if @current_user.role_faculty?
          %a.nav-link{href: '#'}
            .d-flex.align-items-center
              %span.nav-link-icon.mso
                order_approve
              %span.nav-link-text.ps-1 อนุมัติการสอบ
          %a.nav-link{href: '#'}
            .d-flex.align-items-center
              %span.nav-link-icon.mso
                calendar_month
              %span.nav-link-text.ps-1 การสอบ
        - if @current_user.role_staff?
          %a.nav-link{href: '#'}
            .d-flex.align-items-center
              %span.nav-link-icon.mso
                query_stats
              %span.nav-link-text.ps-1 การนัดสอบ
          %a.nav-link{href: '#'}
            .d-flex.align-items-center
              %span.nav-link-icon.mso
                format_list_numbered
              %span.nav-link-text.ps-1 ผลการสอบ
      -# category manage
      %li.nav-item
        -# label
        .row.navbar-vertical-label-wrapper.mt-3.mb-2
          .col-auto.navbar-vertical-label Manage
          .col.ps-0
            %hr.navbar-vertical-divider.mb-0
        -# item
        %a.nav-link{href: announcements_path}
          .d-flex.align-items-center
            %span.nav-link-icon.mso
              campaign
            %span.nav-link-text.ps-1 Announcements
        %a.nav-link{href: users_path}
          .d-flex.align-items-center
            %span.nav-link-icon.mso
              person
            %span.nav-link-text.ps-1 Users

