%nav.navbar.navbar-light.navbar-glass.navbar-top.navbar-expand
  %ul.navbar-nav.align-items-center.d-none.d-lg-block
    %li.nav-item
      %span.font-sans-serif.text-primary{style: 'font-size: 24pt; font-weight: 800'}
        Thesis Proposal Defense System
  %ul.navbar-nav.navbar-nav-icons.ms-auto.flex-row.align-items-center
    %li.nav-item.px-2
      %a{href: main_logout_path}
        %span.nav-link-icon.mso
          power_settings_new
    %li.nav-item
      %span.nav-link-icon.mso
        person
    %li.nav-item
      Admin
